////////////////////////////////////////////////////
// Reset CSS
ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

a,
a:hover,
a:active,
a:focus {
  text-decoration: none;
  outline: none;
  border: none;
}

a:focus,
input:focus,
textarea:focus,
button:focus {
  outline: 0 solid;
}

img {
  max-width: 100%;
  height: auto;
}

i {
  font-style: normal;
}

figure {
  margin: 0;
  padding: 0;
}

.clear::after {
  content: "";
  display: table;
  clear: both;
}

section {
  background-color: #fff;
}