////////////////////////////////////////////////////
// Color

$color-primary: #fbb431;
$color-primary-light: #fff;
$color-primary-dark: #fff;

$color-secondary: #e49504;
$color-secondary-light: #fff;
$color-secondary-dark: #fff;

$color-tertiary: #fff;
$color-tertiary-light: #fff;
$color-tertiary-dark: #fff;

$gray-bg: #F8F9FA;


////////////////////////////////////////////////////
// Font size



////////////////////////////////////////////////////
// Shadow
$shadow-4-ccc: 0 0 4px #ccc;
$shadow-4-999: 0 0 4px #999;
$shadow_4-5: 0 4px 5px 0 rgba(0, 0, 0, 0.10);
$shadow-10: 0 0 10px 0 rgba(0, 0, 0, 0.15);
$shadow-30: 0 0 30px 0 #6c7b8a;


$menu-shadow-1: 0 8px 6px -9px #999;
$menu-shadow-2: 0 5px 5px -5px #000;

$itembox-shadow: 0px 0 2px 0 rgba(0,0,0,0.1), 0 0 0px 0 rgba(0,0,0,0.1), 0 2px 2px 0 rgba(0,0,0,0.18);
$itembox-shadow_20-50: 0 20px 50px 3px rgba(0, 0, 0, 0.1);
$itembox-shadow_30-50: 0 30px 50px 5px rgba(0, 0, 0, 0.3);
$itembox-shadow_10-20-30: 10px 20px 30px rgba(0,0,0,.12);