//////////////////////////////////////////////////==|
//////////////////////////////////////////////////==|
//////////////////////////////////////////////////==|
//==| HTML
//////////////////////////////////////////////////==|
//////////////////////////////////////////////////==|

/*

<div class="accordion" id="accordionExample">

  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <a data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Have you any questions ?
        </a>
      </h5>
    </div>
    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Are you getting it exactly ?
        </a>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Is it clearly explained ?
        </a>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingFour">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Course is deserving anything ?
        </a>
      </h5>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
      <div class="card-body">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </div>
    </div>
  </div>
</div>

*/ 

//////////////////////////////////////////////////==|
//////////////////////////////////////////////////==|
//////////////////////////////////////////////////==|
//==| CSS
//////////////////////////////////////////////////==|
//////////////////////////////////////////////////==|

#accordionExample .card {
  box-shadow: none;
  border: none;
  margin-bottom: 10px;
}

#accordionExample .card-header {
  padding: 0;
  border: none;
}

#accordionExample .card-header a {
  display: block;
  padding: 15px 20px 20px 55px;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  background: #333;
  border: none;
  position: relative;
  transition: all 0.3s ease 0s;
}

#accordionExample .card-header a[aria-expanded="true"] {
  background: #036d38;
  color: #ffffff;
}

#accordionExample .card-header a::after,
#accordionExample .card-header a[aria-expanded="false"]::after {
  font-family: "Font Awesome 5 Free";
  content: "\f067";
  font-weight: 900;
  width: 35px;
  height: 35px;
  line-height: 32px;
  border-radius: 50%;
  background: #222;
  text-align: center;
  font-size: 13px;
  color: #fff;
  border: 2px solid #fff;
  position: absolute;
  top: 10px;
  left: 10px;
  transition: all 0.3s ease 0s;
}

#accordionExample .card-header a[aria-expanded="true"]::after {
  content: "\f068";
}

#accordionExample .card-header a:hover::after,
#accordionExample .card-header a[aria-expanded="false"]:hover::after {
  transform: rotate(360deg);
}

#accordionExample .card-body {
  padding: 15px 25px;
  background-color: #f7f7f7;
  font-size: 14px;
  color: #8c8c8c;
  line-height: 25px;
  border-top: none;
  position: relative;
}