//////////////////////////////////////////////////==|
//////////////////////////////////////////////////==|
//////////////////////////////////////////////////==|
//==| HTML
//////////////////////////////////////////////////==|
//////////////////////////////////////////////////==|

/*

<div class="accordion" id="accordionExample">

  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <a data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          How to Contact for services?
        </a>
      </h5>
    </div>
    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Which latest technology we used?
        </a>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          What is the construction process?
        </a>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
      </div>
    </div>
  </div>
</div>

*/ 

//////////////////////////////////////////////////==|
//////////////////////////////////////////////////==|
//////////////////////////////////////////////////==|
//==| CSS
//////////////////////////////////////////////////==|
//////////////////////////////////////////////////==|

#accordionExample .card {
  box-shadow: none;
  border: none;
  margin-bottom: 10px;
}

#accordionExample .card-header {
  padding: 0;
  border: none;
  margin-bottom: 20px;
}

#accordionExample .card-header a {
  display: block;
  padding: 15px 20px 20px 55px;
  font-size: 15px;
  font-weight: 400;
  color: #222;
  background: #fff;
  border: none;
  position: relative;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease 0s;
}

#accordionExample .card-header a[aria-expanded="true"] {
  background: linear-gradient(to left, #F5F5F5, #e7e7e7);
  color: #222;
}

#accordionExample .card-header a::after,
#accordionExample .card-header a[aria-expanded="false"]::after {
  font-family: "Font Awesome 5 Free";
  content: "\f067";
  font-weight: 900;
  width: 35px;
  height: 35px;
  line-height: 32px;
  border-radius: 50%;
  background: #fff;
  text-align: center;
  font-size: 13px;
  color: #555;
  border: 2px solid #555;
  position: absolute;
  top: 10px;
  left: 10px;
  transition: all 0.3s ease 0s;
}

#accordionExample .card-header a[aria-expanded="true"]::after {
  content: "\f068";
}

#accordionExample .card-body {
  padding: 10px 20px 5px;
  background-color: #fff;
  font-size: 14px;
  color: #8c8c8c;
  line-height: 25px;
  border-top: none;
  position: relative;
  border-left: 1px dotted #ddd;
}